<div class="paddingLeft">
  <div class='callout'>

    <div>
      <%= @letter.greeting %>
    </div>
    <br />

    <div>
      <%= @letter.paragraph1 %>
    </div>
    <br />

    <div>
      <%= @letter.paragraph2 %>
    </div>
    <br />

    <div>
      <%= @letter.paragraph3 %>
    </div>
    <br />

    <div>
      <%= @letter.paragraph4 %>
    </div>
    <br />

    <div>
      <%= @letter.paragraph5 %>
    </div>
    <br />
    <br />

    <div>
      Best,
    </div>
    <div>
      George Li
    </div>
    <br>

    <div>
      319.594.2511 | george53@bu.edu
    </div>

    <div>
      github.com/K9Advantix53 | linkedin.com/in/gli53
    </div>

  </div>
</div>
